registry=http://10.0.0.5:8081/repository/npm-group/
//10.0.0.5:8081/repository/npm-group:_authToken=NpmToken.f9d1b1d7-9a8a-32aa-aac8-d9cbcea01dc5
//10.0.0.5:8081/repository/npm-hosted/:_authToken=NpmToken.f9d1b1d7-9a8a-32aa-aac8-d9cbcea01dc5
http://10.0.0.5:8081/repository/npm-group/:always-auth=true


