<footer class="container-fluid bg-secondary text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="fs-xs text-center text-md-start">© 2024 All rights reserved. Made by <a class="text-light" href="https://www.rfc.com.tn/" target="_blank" rel="noopener">RFC</a></div>
      </div>
      <div class="col-md-6 text-md-end">
        <h5>Follow Us</h5>
        <a href="https://www.rfc.com.tn" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.rfc.com.tn" class="text-light me-3"><i class="fab fa-twitter"></i></a>
        <a href="https://www.rfc.com.tn" class="text-light me-3"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

  </div>
</footer>
