<div class="background">
    <div class="container">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-center mb-4 text-primary"> Category</h2>
  
              <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" class="category-form">
  
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Category's name, here" formControlName="name">
                  <div class="invalid-feedback" *ngIf="categoryForm.get('name')?.hasError('required')">This input is required!</div>
                </div>
  
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea class="form-control" id="description" placeholder="Enter your description here" formControlName="description" rows="5"></textarea>
                  <div class="invalid-feedback" *ngIf="categoryForm.get('description')?.hasError('required')">This input is required!</div>
                </div>
  
                <button type="submit" class="btn btn-primary btn-block">Add Category</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  