
  
    <!--     <div class="order-lg-last col-lg-5 col-sm-8 col-8">
              <div class="float-end">
                <a href="#" class="btn btn-light"> 
                    <i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Sign in  </span> 
                </a>
                <a href="#" class="btn btn-light"> 
                  <i class="fa fa-heart"></i>  <span class="ms-1 d-none d-sm-inline-block">Wishlist</span>   
                </a>
                <a data-bs-toggle="offcanvas" href="#offcanvas_cart" class="btn btn-light"> 
                  <i class="fa fa-shopping-cart"></i> <span class="ms-1">My cart </span> 
                </a>
                  </div>
  
    <-- Mini Cart-->
  
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Mini Cart</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-group">
        <li class="list-group-item"><img width="30" class="img-fluid me-1" src="/assets/images/items/1.jpg" >Item 1 <i class="bi bi-x-circle-fill float-end"></i></li>
        <li class="list-group-item"><img width="30" class="img-fluid me-1" src="/assets/images/items/7.jpg" >Item 2 <i class="bi bi-x-circle-fill float-end"></i></li>
        </ul>
        <button type="button" class="btn btn-primary mt-2 float-end">Checkout</button>
    </div>
    </div>
    <!--Mini Cart-->
    <div class="container-fluid" style="background-color: rgb(58, 175, 210);">
    <div class="container d-lg-flex justify-content-between align-items-center ps-lg-4">
  
      <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap fw-bold">
        <h3 class="h2 text-light fw-bold pb-1 from-start">Has just arrived!</h3>
        <h2 class="text-light fw-bold display-5 from-start delay-1">Huge Summer Collection</h2>
        <p class="fs-lg text-light pb-3 from-start delay-2">Swimwear, Tops, Shorts, Sunglasses &amp; much more...</p>
        <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="shop-grid-ls.html">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
      </div>
      
      <img class="img-fluid" src="/assets/images/items/ma1.png" width="250px" height="auto"><br>  </div>
    </div>
  
    <div class="container mt-5">
    <h3>Latest Products</h3>
    <div class="card-group row">
      <div class="card col-sm-4" *ngFor="let product of products">
        <img [src]="product.processedImg" alt="product">
        <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <ng-container *ngIf="isClientLoggedIn" color="primary">
          <button color="primary" mat-button routerLink="/customers/cart" routerLinkActive="active" class="text-blue" color="primary" (click)="addToCart(product.id)">
            <i class="fas fa-shopping-cart"></i> <!-- Font Awesome shopping cart icon -->
            Add to Cart
          </button>
        </ng-container>
                </div>
      </div>
    </div>
    </div>
    
  
    <div class="container-fluid mt-5" style="background-color: rgb(233, 18, 68);">
    <div class="container d-lg-flex justify-content-between align-items-center ps-lg-4">
  

      
      <img class="img-fluid" src="/assets/images/items/mac.png" width="150%">  </div>
    </div>

  