registry=http://localhost:8081/repository/npm-group/



http://localhost:8081/repository/npm-group/:_authToken=a7d886f3-6a9d-324d-bce2-e58608b454e6

http://localhost:8081/repository/npm-group/:username=admin
http://localhost:8081/repository/npm-group/:_password=aziz
http://localhost:8081/repository/npm-group/:email=medazizslt@gmaili.com
http://localhost:8081/repository/npm-group/:always-auth=true


