registry=http://localhost:8081/repository/npm-hosted/


http://localhost:8081/repository/npm-hosted/:_authToken=NpmToken.cce3c8c2-d0aa-3c86-b1a6-18628a06c1ff

http://localhost:8081/repository/npm-group/:always-auth=true


