/* Utilisation de polices Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Corps de la page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Couleur de fond */
    color: #333; /* Couleur du texte */
}

/* Style du tableau */
.mat-elevation-28 {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #dee2e6; /* Bordure du tableau */
    border-radius: 0.25rem; /* Coins arrondis */
    background-color: #fff; /* Couleur de fond */
}

/* En-têtes de colonnes */
.mat-elevation-28 th {
    font-weight: bold;
    color: #003973; /* Couleur du texte pour les en-têtes */
    background-color: #f8f9fa; /* Couleur de fond */
    border-bottom: 2px solid #dee2e6; /* Bordure inférieure */
}

/* Cellules */
.mat-elevation-28 td {
    padding: 12px 10px;
    border-bottom: 1px solid #dee2e6; /* Bordure inférieure */
}

/* Boutons */
.mat-elevation-28 button {
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #fff; /* Couleur du texte */
}

.mat-elevation-28 button:hover {
    background-color: #007bff; /* Couleur de fond au survol */
}

.mat-elevation-28 button:focus {
    outline: none;
}

.mat-elevation-28 button:active {
    transform: translateY(1px);
}
