.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .product-card {
    width: calc(33.33% - 20px); // 3 items per row with gap
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-radius: 10px;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-image {
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .product-details {
    padding: 20px;
  
    .product-name {
      font-size: 20px;
      margin-bottom: 10px;
      color: #333;
    }
  
    .product-description {
      font-size: 16px;
      margin-bottom: 15px;
      color: #666;
    }
  
    .product-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  
      .info-label {
        font-weight: bold;
        margin-right: 10px;
      }
  
      .info-value {
        color: #007bff;
      }
    }
  
    .info-row {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
  
      .info-label {
        font-weight: bold;
        margin-right: 5px;
      }
  
      .info-value {
        color: #666;
      }
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    gap: 10px;
  
    .mat-raised-button {
      min-width: 120px;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
      text-transform: uppercase;
      transition: background-color 0.3s;
      cursor: pointer;
  
      &.update-button {
        background-color: #007bff;
        color: #fff;
  
        &:hover {
          background-color: #0056b3;
        }
      }
  
      &.delete-button {
        background-color: #dc3545;
        color: #fff;
  
        &:hover {
          background-color: #c82333;
        }
      }
  
      // Adjust other button colors and styles as needed
    }
  }
  