.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #3498db, #2c3e50);
  background-image: url('/assets/images/items/Cover2.png') ;
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
}

mat-card {
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: #f1f4f6b1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
  font-family: cursive;

}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-label {
  color: #333;
}

mat-input {
  color: #555;
}

mat-error {
  color: #e74c3c;
}

button[type="submit"] {
  width: 100%;
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

/* Add more styles as needed */

  