
.latest-products-title {
    font-size: 24px;
    color: #2b5bf9;
    text-align: center;
    margin: 20px 0;
    font-family: 'Dancing Script', cursive;
    border-bottom: 2px solid #59a9fe;
    padding-bottom: 10px;
    font-weight: 700; /* Make it bold */
}