.background {
  background-color: #f0f0f0; /* Background color */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-card {
  max-width: 400px; /* Max width for the card */
  width: 100%;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.order-header {
  background-color: #1976d2; /* Header background color */
}

.order-title {
  color: #fff; /* Title color */
}

.order-content {
  padding: 20px; /* Padding inside the card content */
}

.custom-input {
  margin-bottom: 20px; /* Spacing between input fields */
}

.input-label {
  color: #555; /* Label color */
}

.input-icon {
  color: #aaa; /* Icon color */
}

.button-row {
  display: flex;
  justify-content: space-between; /* Space between buttons */
}

.order-button,
.close-button {
  width: 48%; /* Equal width for buttons */
}

.order-button {
  background-color: #4caf50; /* Primary button color */
}

.close-button {
  border-color: #f44336; /* Close button border color */
  color: #f44336; /* Close button text color */
}
